* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .container {
  box-sizing: content-box;
  box-sizing: border-box;
} */
.muctieu {
  padding-left: 19%;
  padding-right: 40px;
}
.bgimg {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.345), rgba(0, 0, 0, 0.789)),
    url(../images/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.siusiu {
  text-align: center;
  font-size: 13px;
  color: rgb(116, 126, 126);
}

.bi {
  color: blue;
  /* font-size: revert; */
}
.bi2 {
  display: grid;
  /* font-size: 15px; */
  font-size: calc(0.2em + 3vw) !important;
  justify-items: center;
}
.navbar-collapse {
  margin: auto 250px;
}
.position-absolute {
  transform: translate(-50%, -239%);
  -webkit-transform: translate(-50%, -239%);
}
img {
  max-width: 100%;
  height: auto;
}
.lead {
  font-size: 0.8rem;
  font-weight: 400;
}
.d-grid {
  grid-template-columns: 75% 25%;
}
.h4 {
  padding: 0 auto;
}
.cc1,
.cc2,
.cc3 {
  grid-template-columns: 40% 60% !important;
  gap: 20px;
  width: 666px;
  flex-wrap: nowrap;
}
.cc4 {
  flex-wrap: nowrap;
}
.d-grid1 {
  display: grid;
  grid-template-rows: 25% 75%;
}

.box1-2 {
  flex-shrink: 1;
  height: auto;
}
.container {
  margin: 0 auto;
  width: 100%;
  /* flex-shrink: 1; */
}
.border {
  border: 5px solid rgb(116, 126, 126);
}
.sothich {
  width: auto;
  padding: 0 6%;
  /* flex-wrap: nowrap !important; */
}

.ic-megaphone {
  width: 50px;
  height: 50px;

  padding-top: 15px;

  border: 1px solid rgb(27, 147, 147);
  border-radius: 50%;
}

.ic-strategy {
  width: 50px;
  height: 50px;

  padding-top: 15px;

  border: 1px solid rgb(27, 147, 147);
  border-radius: 50%;
}

.ic-hotairballoon {
  width: 50px;
  height: 50px;

  padding-top: 15px;
  border: 1px solid rgb(27, 147, 147);
  border-radius: 50%;
}

.ic-basket {
  width: 50px;
  height: 50px;

  padding-top: 15px;

  border: 1px solid rgb(27, 147, 147);
  border-radius: 50%;
}
.nau {
  width: 55px;
  height: 3px;
  background: gray;
  display: inline-block;
  margin-left: 5px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.green {
  width: 55px;
  height: 3px;
  background: rgb(0, 128, 23);
  display: inline-block;
  margin-left: 5px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.images {
  width: 230px;
  height: 102.53px;
}
.img-fluid {
  width: 65% !important;
}
.text-left.container {
  margin-left: auto;
}
.cc3 {
  flex-wrap: wrap !important;
}
.cc2 {
  border-left: 1px solid #d6c08d;
}

.cc5 {
  border-bottom: 1px solid #d6c08d;
}
/* Khối dự án */
.year {
  padding: 5px 20px;
  background: rgb(62, 158, 213);
  color: white;
  border-radius: 50px;
}
.item3 {
  /* border: 1px solid rgb(75, 73, 73); */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}
/* .item3 p {
  display: inline-block;
  padding-left: 20px;
} */
.line {
  border: none;
  border-top: 1px solid black;
  clear: both;
  overflow: hidden;
  width: 100%;
}
/* td p {
  display: inline-block;
  width: 100%;
} */

td p.start {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* cv cá nhân */
.col-sm-3 {
  width: 30%;
}
.col-sm-9 {
  width: 70%;
}

/* dự án */

.badge {
  display: inline-block;
  border: 2px solid #1ab3eb;
  padding: 2px 6px;
}
.row > .badge {
  flex: 0 0 calc(18.33% - 1em) !important;
  margin-left: unset !important;
}
.box {
  box-sizing: content-box;
  display: grid;
}
